.gr {
    max-width: 1200px !important;
}

@media print {
    .gr {
        //width: 1090pt !important;
        height: 400pt !important;
    }
}

.gr {
    @media print {
        display: block !important;
        width: 1200px !important;
        max-height: 500px !important;
    }
}

.reference {
    cursor: pointer;
    color: #191919;
    font-size: 14px;
    font-weight: 700;
}

.title {
    font-size: 24px;
    color: #495057;
    margin-bottom: 20px;
    font-weight: normal;
}

.graphicContainer {

}

.information {

}

.informationTitle {
    margin-top: 10px;
}

.vacation {
    margin-top: 45px;
    color: #212121;
    font-size: 14px;
    position: relative;
    margin-bottom: 56px;
}

.vacation:before {
    content: '';
    padding: 15px 6px 15px 0;
    width: 6px;
    background-color: #f66a69;
    margin-right: 10px;
}

.vacation:before {
    @media print {
        border: 1px solid #f66a69;
            }
}

.legendItem {
    display: grid;
    grid-template-columns: 1fr 1fr 5fr;
    align-items: center;

    border: 1px solid #ebedf4;
}

.round {
    width: 18px;
    height: 18px !important;
    border-radius: 15px;
    padding: 0 !important;
    border:1px solid black;
}

.tableContainer {
    display: grid;
    align-items: start;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}

.table {
    width: 100%;
    display: grid;
    border-collapse: collapse;
    border: 1px solid #ebedf4;
    border-radius: 5px;
    box-shadow: 0 1.5px 4px 0 #e5e9f2, 0 -1.5px 4px 0 #e5e9f2;
    background-color: #ffffff;
}

.td {
    color: #495057;
    padding-left: 12px;
    font-size: 12px;
}

.tableTitle {
    font-weight: bold;
    padding: 15px 0;
    color: #495057;
    font-size: 14px;
    min-height: 45px !important;
}

.marker {
    display: flex;
    align-items: center;
    justify-content: center;
}

.date {
    padding-left: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-left: 1px solid #ebedf4;
}

.event {
    display: flex;
    justify-content: center;
    min-height: 74px;
    padding-left: 14px;
    flex-direction: column;
    border-left: 1px solid #ebedf4;
}

.eventItem {
    margin-bottom: 10px;
}

.event li {
    font-size: 12px;
    list-style: disc;
    margin-left: 15px;
}

.event li::marker {

}

.soloTable {
    display: none;
}

@media (max-width: 800px) {
    .tableContainer {
        display: none;
    }
    .soloTable {
        display: block;
    }
    .reference {
        font-size: 16px;
    }
}
@media (max-width: 650px) {
    .title {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .vacation {
        margin: 30px 0;
    }
}
@media (max-width: 480px) {
    .vacation, .tableTitle {
        font-size: 12px;
    }
    .reference {
        font-size: 20px;
    }
    .event {
        padding-right: 5px;
    }
    .marker {
        min-width: 55px;
    }
    .event li, .td {
        font-size: 10px;
    }
}

@media print {
    .tableContainer {
        display: grid;
    }
    .soloTable {
        display: none;
    }
}
