.form__error {
    color: red;
    font-size: 12px;
    align-items: center;
    display: flex;
    margin-right: 35px;
    font-weight: 400;
}

.outer {
    min-height: 100vh;
    background-color: #fbfdff;
}

.container {
    min-height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 30px;
}

@media (max-width: 1200px) {
    .container {
        padding: 0 10px 30px;
    }
    .recharts-wrapper,
    .recharts-responsive-container,
    .recharts-cartesian-grid,
    .recharts-surface {
        width: 99vw !important;
    }
}

@media (max-width: 882px) {
    .recharts-cartesian-grid,
    .recharts-wrapper,
    .recharts-responsive-container,
    .recharts-surface {
        height: 400px !important;
    }
}

@media (max-width: 650px) {
    .recharts-cartesian-grid,
    .recharts-wrapper,
    .recharts-responsive-container,
    .recharts-surface {
        width: 98vw !important;
        height: 300px !important;
    }
    .recharts-tooltip-wrapper {
        display: none;
    }
}

@media (max-width: 480px) {
    .recharts-cartesian-grid,
    .recharts-wrapper,
    .recharts-responsive-container,
    .recharts-surface {
        width: 98vw !important;
        height: 200px !important;
    }
}

@media print {
    .recharts-cartesian-grid,
    .recharts-wrapper,
    .recharts-responsive-container,
    .recharts-surface {
        width: 1000px !important;
        height: 400px !important;
    }
}

@media (max-width: 830px) {
    .form__error {
        width: 230px;
    }
}
@media (max-width: 480px) {
    .form__error {
        width: 230px;
        margin-right: 20px;
    }
}
@media (max-width: 380px) {
    .form__error {
        margin-right: 0;
        font-size: 10px;
    }
}
